doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Add note | NotePad
        link(rel="stylesheet", href="css/bootstrap.min.css")
        
    body.bg-light

        include layouts/navbar
        +navbar()

        br
        h5.text-center New Note
        br

        .container(id="container")
            form(action="/newnote", method="post")
                .form-group
                    label(for="exampleFormControlInput1") Note title
                    input.form-control(type="text", id="exampleFormControlInput1", name="title", placeholder="note summary", required, maxLength="50")

                .form-group
                    label(for="exampleFormControlTextarea1") Note body
                    textarea.form-control(id="exampleFormControlTextarea1", rows="3", name="body" placeholder="note description", required, maxLength="500")

                .form-group
                    button.btn.btn-lg.btn-block.btn-primary Submit




        script(src="/js/jquery-3.3.1.js")
        script(src="/js/bootstrap.bundle.min.js")
        script(src="/js/newnote.js")